.details-content-release{
    max-width: 600px;
    height: 400px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    .details-content-release-title{
        margin: 40px 0px;
    }
}