
.content-content{
	overflow: hidden;
	.cols-1-gg{
		height: 430px;
		float: left;
		width: 58%;
		.list-group-item{
			height: 40px;
			margin: 20px 0px;
			padding-left: 7px;
			line-height: 40px;
			border-bottom: 1px solid #ccc;
			.notice_title{
				float: left;
				max-width: 550px;	
				font-weight: bold;
				text-overflow: ellipsis;
    			overflow: hidden;
    			color: blue;
    			padding-left: 7px;
    			white-space: nowrap;
    			&:hover{
    				cursor:pointer;
    			};
			}
			span{
				display: block;
				float: right;
			}
		} 
	}
	.cols-1-rl{
		height: 430px;
		float: right;
		width: 40%
	}
}